<h1 class="mt-4">Clientes</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">{{cliente.id ? "Alterar" : "Cadastrar"}}</li>
</ol>

<div class="container-fluid">
    <form #clienteForm="ngForm" (ngSubmit)="onSubmit()">


        <div class="alert alert-success row" role="alert" *ngIf="success == true">
            Cliente salvo com sucesso!
        </div>

        <div class="alert alert-danger row" role="alert" *ngFor="let erro of errors">
            {{erro}}
        </div>


        <div class="row" *ngIf="cliente.id">
            <div class="col-md-6">
                <div class="form-group">
                    <label>ID: </label>
                    <input type="text" class="form-control" disabled="true" [ngModel]="cliente.id" name="id" />
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Data de cadastro: </label>
                    <input type="text" class="form-control" disabled="true" [ngModel]="cliente.dataCadastro" name="dataCadastro" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nome: * </label>
                    <input type="text" class="form-control" [(ngModel)]="cliente.nome" name="nome" />
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Cpf: * </label>
                    <input type="text" class="form-control" [(ngModel)]="cliente.cpf" name="cpf" />
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-7">
                <button type="submit" class="btn btn-success" *ngIf="!cliente.id">
                    <i class=" fa fa-save "></i>Salvar
                </button>

                <button type="submit" class="btn btn-success  ml-1" *ngIf="cliente.id">
                    <i class=" fa fa-sync-alt "></i>Alterar
                </button>

                <button type="button" class="btn btn-secondary ml-1" (click)="voltar()">
                    <i class=" fa fa-arrow-alt-circle-left"></i>Voltar
                </button>
            </div>


        </div>


    </form>
</div>