<h1 class="mt-4">Serviço Presetado</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-bitem active">Consulta</li>
</ol>

<div class="container-fluid">
    <form #consultaForm="ngForm" (submit)="consultar()">

       
        
        <div class="row">

            <div class="col-md-7">
                <label for="inputNome">Nome Cliente</label>
                <input type="text" [(ngModel)]="nome" 
                       name="nome" class="form-control" 
                       id="inputNome">
            </div>

            <div class="col-md-4">
                <label for="inputMes">Mês</label>
                <select [(ngModel)]="mes" class="form-control" name="mes">
                    <option value=""> Selecione ...</option>    
                    <option *ngFor="let mes of meses" [value]="mes">
                        {{mes}}
                    </option>
                </select>    
            </div>
            
            <div>   

                <label for="inputNome">-</label>
                <br />                              
                <button type="submit" class="btn btn-primary" (click)="consultar()">
                    <i class="fa fa-search"></i> Consultar
                </button>    
                
            </div> 
           

        </div>

        <div>
            
            <br />                            
            <button class="btn btn-warning" routerLink="/servico-prestado/form">
                <i class="fa fa-plus"></i> Novo
            </button>

        </div> 

        <br />
        <div class="row">
           
            <div class="col-md-12">
               
                <table class="table table-hover table-condensed">
                   
                    <thead>
                        <tr>
                            <th>Cliente</th>
                            <th>Descrição</th>
                            <th>Valor</th>
                            <th>Data</th>                            
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        
                        <tr *ngFor="let s of lista">
                           
                            <td>{{s.cliente.nome}}</td>
                            <td>{{s.descricao}}</td>
                            <td>{{s.valor}}</td>
                            <td>{{s.data}}</td>
                            
                            <td>
                                
                                <button class="btn btn-primary" routerLink="/servico-prestado-form/{{ s.id }}">
                                    <i class="fa fa-edit"></i>
                                </button>
    
    
                                <button class="btn btn-danger  ml-1" data-toggle="modal" data-target="#modalDelecao" (click) = "carregaServicoPrestadoSelecionado(s)">
                                    <i class="fas fa-trash"></i>                            
                                </button>

                            </td>

                        </tr>
                    
                    </tbody>
                    
                </table>

                <div class="alert alert-warning row" role="alert" *ngIf="lista.length == 0">
                    Nenhum registro encontrado.
                </div>
                
            </div>

        </div>

        <div id="modalDelecao" class="modal fade" role="dialog">

            <div class="modal-dialog">
    
                <div class="modal-content">
    
                    <div class="modal-header">
                        <h4>Confimação</h4>
                    </div>
    
                    <div class="modal-body" *ngIf="servicoPrestadoSelecionado">
                        Confirma a exclusão do servico {{ servicoPrestadoSelecionado.descricao }}
                    </div>
    
                    <div class="modal-footer">
    
                        <button class="btn btn-success" (click)="deleta()" data-dismiss="modal">
                            Confirmar
                        </button>
    
    
                        <button class="btn btn-default  ml-1" data-dismiss="modal">
                            Cancelar
                        </button>
    
                    </div>
    
                </div>
    
            </div>
        
        </div>

    </form>
</div>